<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>

    <form class="login-form form" method="post">
        <p class="heading">Login</p>
        <input class="input" placeholder="Username" type="text" name="username">
        <input class="input" placeholder="Password" type="password" name="password"> 
        <button class="btn">Submit</button>
    </form>

</body>
</html>